* {
  font-family: "Roboto", sans-serif;
  
}

.fontSize {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.fontSize-sml {
  font-size: 0.75em;
}

.article {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  background-color: #d3d3d3;
  text-align: center;
  border-radius: 10px;
  color: #343a40;
}

.header,
i,
h3,
h4,
.header2,
.coins {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-between;
}


.header2 h3,
i,
.header h2,
i{
  position: relative;
  margin: 5% auto;
  cursor: pointer;
}




.article .balance,
.top-coins {
  background-color: #343a40;
  color: #d3d3d3;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
}
.article .balance:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.5);
}


.border {
  position: inherit;
  background-color: #d3d3d3;
  color: #343a40;
  border: none;
  width: 40%;
  height: 100px;
  margin: 0 5%;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: block;
  margin-bottom: 5%;
}

button {
  border: none;
  width: 40%;
  height: 30px;
  margin: 0 5%;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
button:hover {
  box-shadow: 0px 0px 10px 3px rgba(239, 239, 239, 0.2);
}
h4 {
  display: inline-block;
}

form {
  padding: 40px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.form-row {
  margin-bottom: 20px;
}

.form-row > label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
button,
textarea {
  width: 100%;
  border-radius: 5px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  font-size: inherit;
  font-family: inherit;
  background-color: #ffffff;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: rgb(175, 175, 175);
}

:focus {
  outline: 1px solid rgb(68, 176, 255);
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: rgb(68, 176, 255); /* Çalışmadı ?????*/
}

textarea {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 42px;
  max-height: 200px;
  resize: vertical;
}

.radio-container label {
  display: inline-block;
}
.radio-container label + label {
  margin-left: 20px;
}

button {
  display: inline-block;
  width: auto;
  border: 0;
  background-color: #eeeeee;
}

button[type="Submit"] {
  margin-left: 10px;
  background-color: rgb(68, 176, 255);
  color: white;
}
